.Container-NPS-display {
    height: 350px;
    width: 400px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 10px 10px;
    border-radius: 20px;
    margin:auto 40px;
    box-shadow: 0px 0px 2px 4px  #ccc;
}
.Container-nps-class-left{
    display:flex;
    flex-direction: column;
}

.NPS-display-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
    text-align: center;
}
.NPS-display-title h1{
    font-size: 1.6em;
}
.NPS-display-title img {
    height: 90px;
    margin-bottom: 5px;
    border-radius: 100%;
}

.NPS-display-title-text {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 90px;
    margin: 0 auto;
    color:white;
    text-align: center;
    flex-wrap: wrap;
    width:100px;
    top: 0px;
}

.NPS-display-result {
    font-size: 70px;
    color:white;
    margin: 0 auto;
    padding:0;
}

.NPS-display-text {
    color:white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 5px 0;
    height:120px
}
@media (max-width: 500px){
    .Container-NPS-display{
        height:300px;
        width:300px;
        justify-content: space-around;
        align-items: center;
    }
    h1{
        font-size: 0.8em;
        
    }
    .NPS-display-title{
        height:30px
    }
    .NPS-display-result{
        height: 100px;
        font-size: 2.5em;
        margin-top: 30px;
    }
    .NPS-display-title-text{
        display: flex;
        height:10px;
        align-items: center;
    }
    .group-grade{
        top:10vh;
    }
    .Display-individual-grade{
        top: 50vh;
        height: 10px;
    }
}