.Container-NPS-display{
    height:80%;
    width:80%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px;
}
.NPS-display-title{
 display:flex;
 align-items: center;
 justify-content: space-around;
}
.NPS-display-title img{
 height: 90px;
 background-color:white;
 border-radius:100%;
}
.NPS-display-title-text{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
    margin: auto;
}

.NPS-display-result{

}
.NPS-display-text{

}