.Item{
    display: flex;
    flex-direction: column; 
    max-width: 1600px;
    margin:5px 0;
    
}
.Item a{
    text-decoration: none;
}
.title{
    display: flex;
   
    justify-content: space-around;
    color: white;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 0.7em;
}

.subtitle{
    display: flex;
   
    justify-content: space-around;
    margin-top: 2px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.7em;
}
h3{
    font-size: 0.8em;
    margin:10px auto;
}
@media (max-width: 500px){
    
    .title{
        display: flex;
        flex-direction: column;
        width:200px;
        height:100%;
        font-size: 0.7em;
    }
    .subtitle{
        display: flex;
        flex-direction: column;
        width:200px;
        height: 100%;
        font-size: 0.7em;
    }
    a{
        display:flex;
        align-items: center;
        justify-content: center;
    }
}