.Item{
    display: flex;
    flex-direction: column; 
    max-width: 1600px;
    margin: 20px auto;
    
}
.Item a{
    text-decoration: none;
}
.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    padding: 0px 40px;
    border-radius: 5px;
    
}

.subtitle{
    display: flex;
    width:100%;
    justify-content: space-between;
    margin-top: 5px;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}