.Container-NPS-display {
    height: 350px;
    width: 400px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 10px 10px;
    border-radius: 20px;
    margin:auto 40px;
}
.Container-nps-class-left{
    display:flex;
    flex-direction: column;
}

.NPS-display-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}

.NPS-display-title img {
    height: 90px;
    background-color: white;
    border-radius: 100%;
}

.NPS-display-title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    margin: auto;
    color:white;
    text-align: center;
    flex-wrap: wrap;
    
}

.NPS-display-result {
    font-size: 70px;
    color:white;
    margin: 0 auto;
    padding:0;
}

.NPS-display-text {
    color:white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 5px 0;
    height:120px
}
