
body {
    background: #4D4D4D;
    margin: 0px;

}
.btn-login-cadastro-page {
    background: #C61066;
    border-radius: 5px;
    border: 0px;
    width: 150px;
    color: white;
    font-weight: 800;
    
    transition: ease 0.9s;
    
}
.btn-login-cadastro-page:disabled {
    background: rgba(105, 9, 54, 0.705);
    border-radius: 5px;
    border: 0px;
    width: 150px;
    color: white;
    font-weight: 800;
   transform: translateX(-137%);
}



.seta {
    color: aliceblue;
}

.inpt {
    background: #F5F7F9;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}

.inpt::placeholder {
    font-size: 19px;
}

.Title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    color: #F5F7F9;
    font-size: 42px;
    margin-bottom: 20px;
}

.quadro {
    margin-top: 10%;
    display: flex;
    background: #4D4D4D;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    margin: 10px;
  
}

.sngp {
    display: grid;
    width: 300px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    
}

.sublogin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    
}

.inpt {
    margin-bottom: 15px;
    height: 20px;
    
 width: 96%;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    margin: 10px;
}

.imgn {
    width: 80%;
    max-width: 400px;

}

.inpt {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.bcgEdge {
    z-index: -0;
    height: 50vh;
    width: 50vw;
    position: fixed;
    right: 0;
    bottom: 0;
    resize: true;
}