* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: white;
    
}
.top-Container{
    height:50vh;
    width:100%;
}
.header-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:900px;
    margin: auto;
}
.btn-toggle-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:600px;
    font-size: 18px;
    background-color: #2cd937;
    color:rgba(255, 255, 255, 0.979);
    padding: 3px 6px;
    border-radius: 4px;
    margin: 4px auto;
    font-weight: bold;
    height:35px;
    text-align: center;
}
.dashContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
}
.dash2{
    display: flex;
    margin-left: 10px;
    border:1px solid rgb(1, 1, 1);
    height:350px;
    width: 560px;
    box-shadow: 0px 0px 2px 4px  #ccc;
}
.dshbrd{
    width: 800px;
    height:350px;
    transition:0.9s;
    border:1px solid rgb(1, 1, 1);
    box-shadow: 0px 0px 2px 4px  #ccc;
}


.mainResults{
    background-color: white;
    position:absolute;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    top:-2vh;
    
}

h2{
    color: deeppink;
    font-size: 25px;
    width:80vw;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
}

.main-Display{
    display:flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    transition:0.9s;
    
}
.btn-select-set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0px auto;   
    padding: 5px ;
    font-size: 1.1em;
    font-weight: bolder;
    color: white;
    background-color: #c61066;
    box-shadow: 2px 3px 1px rgba(204, 204, 204, 0.436);
}
.btn-select-set-text{
    width:600px;
}
.btn-select-set-button{
    width:600px;
    display: flex;
    flex-direction: row;
}
.btn-select-set-item-l{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 18px 0 0px 18px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.381);
    opacity: 0.8;
    font-size: 20px;
}
.btn-select-set-item-r{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 0px 18px 18px 0px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.381);
    opacity: 0.8; 
    font-size: 20px;
}
.btn-select-set-item-l:disabled,.btn-select-set-item-r:disabled{
    border: 2px solid #ff9cca;
    background-color: #c61066;
    font-size: 20px;
    color: white;
}

.btn-report, .btn-report-set-up{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    border-radius: 18px;
    font-weight: bolder;
    color: white;
    background-color: #c61066;
    box-shadow: 3px 4px 1px rgba(204, 204, 204, 0.436);
    height:40px;
    margin: 0;
}
.NPS-display-left{
    margin: 0px 0px;
    min-width: 300px;
    width:600px;
}
.NPS-display-right{
    min-width:300px;
    max-width:800px;
    
}
.Display-individual-grades{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height:20vh;
    background-color: white;
    top:18%;

}
.group-grade{
    height:50%
}

.individual-grade{
    border: solid 1px black;
    color:white;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 20px;
    margin: 0px 20px 5px 20px;
    
}
.individual-grade-text{
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 20px;
    margin: 0px 20px 5px 20px;  
    width:100px;
}
.input-individual-grade{
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 20px;
    margin: 0px 20px 5px 20px;  
    width:100px;
}
.input-individual-grade::placeholder{
    text-align: start;
}

.btn-calculate-nps{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    height:40px;
}

@media (max-width: 500px){
   
    .title{
        display: flex;
        flex-direction: row;
    }
    .header-Container{
        display:block;
    }
    a{
        display: flex;
    }
   
    .btn-toggle-dashboard{
        display:block;
        width:8px;
    }
}

