* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    
}


.mainResults{
    background-color: white;
    height: 120vh;
    width:100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header{
    color: deeppink;
    font-size: 40px;
    width:80vw;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
}

.main-Display{
    display:flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    
}
.btn-select-set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;   
    padding: 10px 30px;
    font-size: 1.3em;
    font-weight: bolder;
    color: white;
    background-color: #c61066;
    box-shadow: 2px 3px 1px rgba(204, 204, 204, 0.436);
}
.btn-select-set-item-l{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 18px 0 0px 18px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.381);
    opacity: 0.8;
}
.btn-select-set-item-r{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 0px 18px 18px 0px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.381);
    opacity: 0.8; 
    
}
.btn-select-set-item-l:disabled,.btn-select-set-item-r:disabled{
    border: 2px solid #ff9cca;
    background-color: #c61066;
   
}

.btn-report, .btn-report-set-up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;   
    padding: 10px 30px;
    border-radius: 18px;
    font-weight: bolder;
    color: white;
    background-color: #c61066;
    box-shadow: 3px 4px 1px rgba(204, 204, 204, 0.436);
}
.NPS-display-left{
    margin: 40px 0px;
    min-width: 300px;
   max-width: 80vw;
}
.NPS-display-right{
    min-width:300px;
    max-width:100vw;
   
}
.Display-individual-grades{
    display:flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}


.individual-grade{
    background-color: red;
    border: solid 1px black;
    color:white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    margin: 20px;
}

.input-individual-grade{
    width:100px;
    margin: 20px;
}
.grade-group{  
    margin: 20px;
    width: 150px;
   
}
.btn-calculate-nps{
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

@media (max-width: 300px){
    .Display-individual-grades{
        display:grid;
        grid-template-columns: 150px 150px;
        justify-content: center;
    }
}

