.mainResults{
    padding: 40px;
}
header{
    color: deeppink;
    font-size: 40px;
    width:80vw;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
}
.Item{
    display: flex;
    flex-direction: column; 
    max-width: 80vw;
    margin: 60px auto;
}
.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #22232f;
    color: white;
    padding: 0px 40px;
}
.subtitle{
    display: flex;
    width:100%;
    justify-content: space-between;
    background-color:#22232f;
    margin-top: 5px;
    color: white;
    padding: 30px 40px;
}
